/*slider*/
.classic {
    font-family:Monotype Corsiva;
    font-size: 30px;
    color:#1F1504;
    font-weight: bold;
}
.slider-section .carousel-indicators {
    top: 80%;
}
.slider-section .carousel-control-next-icon, .slider-section .carousel-control-prev-icon {
    width: 35px!important;
    height: 35px!important;
}

.slider-section .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}


/*aubowan-card */
.ayubowan-card {
    margin-top: -5%;
}
.ayubowan-card-body {
    padding: 30px 100px;
}

/* @font-face {
    font-family:"bindhumathi";
    src: url("fonts/bindhumathi.ttf") format("truetype");
} */


/* projects */
.project-section .carousel-indicators {
    bottom: -50px;
}
.project-section .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid black;
}
.project-section .carousel-indicators .active {
    background-color: black;
}
.project-section .carousel-item .item1:hover img,
.project-section .carousel-item .item2:hover img,
.project-section .carousel-item .item3:hover img,
.project-section .carousel-item .item4:hover img,
.project-section .carousel-item .item5:hover img,
.project-section .carousel-item .item6:hover img {
    -webkit-filter: none;
    filter: none;
    -webkit-filter: brightness(40%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.project-section .carousel-item .item1 div {
    -webkit-transition: all .5s;
    transition: all .5s;
}
.project-section .carousel-item .item1:hover .carousel-caption,
.project-section .carousel-item .item2:hover .carousel-caption,
.project-section .carousel-item .item3:hover .carousel-caption,
.project-section .carousel-item .item4:hover .carousel-caption,
.project-section .carousel-item .item5:hover .carousel-caption,
.project-section .carousel-item .item6:hover .carousel-caption {
    bottom: 0px;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}
/* .project-section .carousel-item .item1:hover p,
.project-section .carousel-item .item2:hover p {
    margin-top: 1.5rem;
    transition: 0.4s;
} */
.project-section .carousel-item .carousel-caption {
    transition: all 0.4s;
    bottom: -50px;
}
.project-section .carousel-item .carousel-caption i {
    color: #fff;
    font-size: 20px;
}
.project-section .carousel-item .carousel-caption i:hover {
    color: #b19777;
}
.project-section .carousel-item .line {
    text-align: center;
    height: 1px;
    width: 70px;
    background-color: rgba(255, 255, 255, 0.2);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    margin: 0 auto 30px;
}
.project-section .carousel-item .item1:hover .line,
.project-section .carousel-item .item2:hover .line,
.project-section .carousel-item .item3:hover .line,
.project-section .carousel-item .item4:hover .line,
.project-section .carousel-item .item5:hover .line,
.project-section .carousel-item .item6:hover .line {
    width: 100%;
    transition-property: width;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}



/* about us */
.about-image:hover img{
    transform: scale(0.95);
    transition: ease-in-out;
    transition-duration: 0.5s;
}
.about-image img{
    transition: ease-in-out;
    transition-duration: 0.5s;
}



/*services*/
.bg-img-services {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}
.service-banner {
    background: url('../img/services-banner.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 850px;
    background-position:center;
}
.service-card {
    margin-top: -7%;
}
.service-card-body {
    margin-top: -33%;
}
/* .top-left {
    position: absolute;
    top: 50px;
    left: 50px;
} */
.service-card #collapseExample1.collapse:not(.show), 
.service-card #collapseExample2.collapse:not(.show),
.service-card #collapseExample3.collapse:not(.show) {
    display: flex!important;
    height: 6.5rem!important;
    overflow: hidden!important;
}
.service-card .collapse-button {
    margin-top: 1rem!important;
}
.service-card #collapseExample1.collapsing, 
.service-card #collapseExample2.collapsing,
.service-card #collapseExample3.collapsing {
    height: 6.5rem;
    transition: all 0.5s;
}
.service-card a.collapsed::before {
    content: 'MORE ';
}

.service-card a.collapsed::after {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3e%3cpath d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    position: relative;
    top: 2px;
}

.service-card a.collapsed:hover:after {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-chevron-down' viewBox='0 0 16 16'%3e%3cpath d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.service-card a:not(.collapsed)::before {
    content: 'LESS ';
}

.service-card a:not(.collapsed)::after {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-up' viewBox='0 0 16 16'%3e%3cpath d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3e%3c/svg%3e");
    position: relative;
    top: 2px;
}

.service-card a:not(.collapsed):hover:after {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-chevron-up' viewBox='0 0 16 16'%3e%3cpath d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3e%3c/svg%3e");
}
/* .service-container {
    position: relative;
    text-align: left;
} */


/*testimentional*/
.testimonial-section .testi-image {
    filter: brightness(40%);
}
.testimonial-section .carousel-caption {
    bottom: 7.5rem!important;
}
.testimonial-section .carousel-caption .h3 {
    font-size: 58px!important;
}
.testimonial-section .carousel-caption h5 {
    font-size: 45px;
}
.testimonial-section .carousel-caption p {
    font-size: 25px;
}
.testimonial-section .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    cursor: pointer;
    background-color: #707070;
}
.testimonial-section .carousel-indicators .active {
    background-color: black;
}
.testimonial-section .carousel-item {
    transition: -webkit-transform 1s ease!important;
    transition: transform 1s ease!important;
    transition: transform 1s ease,-webkit-transform 1s ease!important;
}
/* .testimonial-section .carousel-item .carousel-caption {
    bottom: 5rem;
} */


/*media quaries*/
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

@media (min-width: 1400px) {
    .testimonial-section .testi-image {
        height: 500px!important;
    }
    .testimonial-section .carousel-caption {
        bottom: 7.5rem!important;
    }
    .service-banner {
        height: 850px!important;
    }
}

@media (max-width: 1400px) {
    .testimonial-section .testi-image {
        height: 400px!important;
    }
    .testimonial-section .carousel-caption {
        bottom: 3rem!important;
    }
    .testimonial-section .carousel-caption .h3 {
        font-size: 48px!important;
    }
    .testimonial-section .carousel-caption h5 {
        font-size: 35px;
    }
    .testimonial-section .carousel-caption p {
        font-size: 15px;
    }
    .service-banner {
        height: 750px!important;
    }
}

@media (max-width: 1200px) {
    .testimonial-section .testi-image {
        height: 300px!important;
    }
    .testimonial-section .carousel-caption {
        bottom: 1.5rem!important;
    }
    .testimonial-section .carousel-caption .h3 {
        font-size: 43px!important;
    }
    .testimonial-section .carousel-caption h5 {
        font-size: 30px;
    }
    .testimonial-section .carousel-caption p {
        font-size: 15px;
    }
    .service-banner {
        height: 650px!important;
    }
    .service-text-content {
        font-size: 34px!important;
        text-align: center;
        line-height: 2.5rem;
    }
}

@media (max-width: 992px) {
    .testimonial-section .testi-image {
        height: 200px!important;
    }
    .project-section .carousel-item .carousel-caption {
        bottom: -20px;
    }
    .project-section .carousel-item .carousel-caption h5 {
        font-size: 16px!important;
    }
    .project-section .carousel-item .carousel-caption p {
        margin-bottom: 0.5rem!important;
    }
    .project-section .carousel-item .carousel-caption i {
        color: #fff;
        font-size: 15px;
    }
    .project-section .carousel-item .item1:hover .carousel-caption,
    .project-section .carousel-item .item2:hover .carousel-caption,
    .project-section .carousel-item .item3:hover .carousel-caption,
    .project-section .carousel-item .item4:hover .carousel-caption,
    .project-section .carousel-item .item5:hover .carousel-caption,
    .project-section .carousel-item .item6:hover .carousel-caption {
        bottom: 0px;
    }
    .testimonial-section .carousel-caption {
        bottom: 1rem!important;
    }
    .testimonial-section .carousel-caption .h3 {
        font-size: 30px!important;
    }
    .testimonial-section .carousel-caption h5 {
        font-size: 20px;
    }
    .testimonial-section .carousel-caption p {
        font-size: 15px;
    }
    .service-banner {
        height: 550px!important;
    }
    .service-text {
        padding-top: 10rem!important;
    }
}

@media (max-width: 768px) {
    .aubowan-card-body {
        padding: 30px!important;
    }
    .project-section {
        margin-top: 4rem!important;
    }
    .project-section .carousel-item .carousel-caption h5 {
        font-size: 15px!important;
    }
    .project-section .carousel-item .carousel-caption p {
        font-size: 18px!important;
        margin-bottom: 0!important;
    }
    .project-section .carousel-item .item1:hover .carousel-caption,
    .project-section .carousel-item .item2:hover .carousel-caption,
    .project-section .carousel-item .item3:hover .carousel-caption,
    .project-section .carousel-item .item4:hover .carousel-caption,
    .project-section .carousel-item .item5:hover .carousel-caption,
    .project-section .carousel-item .item6:hover .carousel-caption {
        bottom: -10px;
    }
    .project-section .carousel-item .line {
        margin: 0 auto 0px;
    }
    .about-section {
        margin-top: 4rem!important;
    }
    .about-section a {
        margin: auto auto!important;
        display: block!important;
        width: 30%;
    }
    .about-section img{
        margin-top: 3rem!important;
    }

    .service-card {
        margin-top: 4%;
    }
    .top-left {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .top-left .container h5, h2{
        font-size: 20px;
    }
    .download-section {
        margin-top: 4rem!important;
    }
    .testimonial-section .testi-image {
        height: 200px!important;
    }
    .testimonial-section .carousel-caption {
        bottom: 1rem!important;
    }
    .testimonial-section .carousel-caption .h3 {
        font-size: 22px!important;
    }
    .testimonial-section .carousel-caption h5 {
        font-size: 17px;
    }
    .testimonial-section .carousel-caption p {
        font-size: 15px;
    }
    .contact-section {
        margin-top: 4rem!important;
    }
    .service-banner {
        height: 450px!important;
    }
    .service-text {
        padding-top: 7rem!important;
    }
    .service-text-content {
        font-size: 20px!important;
    }
}


@media (max-width: 576px) {
    .ayubowan-image {
        height: 45px!important;
    }
    .project-section .carousel-item .carousel-caption {
        bottom: 0px;
    }
    .about-button {
        width: 70%!important;
    }
    .download-section {
        margin-bottom: 2rem!important;
    }
    .testimonial-section .testi-image {
        height: 200px!important;
    }
    .testimonial-section .carousel-caption {
        bottom: 0.7rem!important;
    }
    .testimonial-section .carousel-caption .h3 {
        font-size: 20px!important;
    }
    .testimonial-section .carousel-caption h5 {
        font-size: 15px;
    }
    .testimonial-section .carousel-caption p {
        font-size: 13px;
    }
    .service-text-content {
        line-height: 2rem;
    }
}

/* @media (min-width: 768px) {
    .p-remove {
        padding-right: 0;
        padding-left: 0;
    }
} */




/* @media (max-width: 768px) {
    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }
    nav ul {
        max-height: 0px;
        background: #000;
    }
    nav.black ul {
        background: #000;
    }
    .showing {
        max-height: 34em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }
    .menu-icon {
        display: block;
    }

    .footer-left {
        text-align: center;
    }
    .footer-right {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .download-section .btn {
        padding: 10px;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

} */