nav {
    background: #000!important;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 900px;
    object-fit: cover;
}
/* .swiper-slide {
    background-size: cover;
    background-position: center;
} */
/* .mySwiper img {
      width: 100%;
      height: 250px;
} */
/* .swiper-container {
    width: 100%;
    height: 700px;
} */

.mySwiper .swiper-slide {
    width: 25%!important;
    height: 100%;
    opacity: 0.4;
}
.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}


.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='orange' class='bi bi-plus-lg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z'/></svg>");
    color: red;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='orange' class='bi bi-dash-lg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z'/></svg>");
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 30px!important;
}




/* media queries */
@media (max-width: 1700px) {
    .swiper-slide img {
        height: 950px;
    }
    .small-img {
        height: 220px!important;
    }
    
}

@media (max-width: 1400px) {
    .swiper-slide img {
        height: 800px;
    }
    .small-img {
        height: 190px!important;
    }
    
}

@media (max-width: 1200px) {
    .swiper-slide img {
        height: 650px;
    }
    .small-img {
        height: 160px!important;
    }
}

@media (max-width: 992px) {
    .swiper-slide img {
        height: 500px;
    }
    .small-img {
        height: 130px!important;
    }
}

@media (max-width: 768px) {
    .project-details {
        padding: 0 3rem!important;
        margin-top: 3rem!important;
    }
    .swiper-slide img {
        height: 400px;
    }
    .small-img {
        height: 100px!important;
    }
}


@media (max-width: 576px) {
    .project-details {
        padding: 0 0.75rem!important;
    }
    .swiper-slide img {
        height: 300px;
    }
    .small-img {
        height: 70px!important;
    }
}