/* .banner {
    background: url('../img/organizational-banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    padding: 22rem;
} */




/* media queries */
@media screen and (max-width: 992px) {
    .organizational {
        padding: 0 3rem!important;
        margin-top: 3rem!important;
    }
}

@media screen and (min-width: 768px) {
    .organizational .details {
        padding-right: 3rem!important;
    }
}

@media screen and (max-width: 576px) {
    .organizational {
        padding: 0 0.75rem!important;
    }
    .organizational .row {
        margin-top: 2rem!important;
    }
    .organizational .details {
        padding-right: 0.75rem!important;
    }
}