/* .banner {
    background: url('../img/people-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 35rem;
} */

.slide {
    background-color: #323232;
    color: #C9C6C6;
    padding: 1rem 0.5rem;
    position: relative;
    top: -5.1rem;
    opacity: 0;
}

.transition {
    transition: all 1s;
    opacity: 1;
}


.hide {
    visibility: hidden;
}




/* media queries */
@media screen and (max-width: 768px) {
    .people {
        padding: 0 3rem!important;
        margin-top: 3rem!important;
    }
    .people .principal {
        margin-top: 3rem!important;
    }
    .people .principal .details {
        margin-top: 3rem!important;
    }
    .professional-team {
        padding: 0 3rem!important;
    }
    .office-team {
        padding: 0 3rem!important;
    }
}

@media screen and (max-width: 576px) {
    .people {
        padding: 0 0.75rem!important;
    }
    .professional-team {
        padding: 0 0.75rem!important;
        margin-top: 3rem!important;
    }
    .office-team {
        padding: 0 0.75rem!important;
        margin-top: 1rem!important;
    }
}