nav {
    background: #000;
}

.trip img {
    cursor: pointer;   
}



/* media queries */
@media screen and (max-width: 768px) {
    .trip {
        padding: 0 3rem!important;
        margin-top: 3rem!important;
    }
}

@media screen and (max-width: 576px) {
    .trip {
        padding: 0 0.75rem!important;
    }
}